<!-- Texto Cadastro -->
        <section class="py-5">
            <div class="container">
            </div>
        </section>
        <!-- /Texto Cadastro -->
        

        
        <!-- Cadastro -->
        <div class="container">
            <div class="cadastro-div">
                <div class="row">
                    
                    <div class="col-md-8 order-md-1 ">
                        <h4 class="mb-3 alert alert-dark text-cadastro">Cadastro</h4>
                        
                        <form class="needs-validation" method="POST" action="#"novalidate>
                            
                            
                            <div class="mb-3">
                                <label for="name">Nome completo <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="name" name="nome" required>
                                <div class="invalid-feedback">
                                    Insira um nome válido
                                </div>
                            </div>
                            

                            <div class="mb-3">
                                <label for="CPF">CPF (opcional)</label>
                                <input type="number" name="cpf" class="form-control" id="CPF" placeholder="12345678900">
                                <div class="invalid-feedback">
                                    Insira um cpf válido
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted"></span></label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="nome@exemplo.com" required>
                                <div class="invalid-feedback">
                                    Insira um email válido
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="address">Endereço</label>
                                <input type="text" name="endereco" class="form-control" id="address" placeholder="Rua barão do rio branco, 245, casa 1" required>
                                <div class="invalid-feedback">
                                    Insira um endereço válido
                                </div>
                            </div>
                    
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <label for="state">Estado</label>
                                    <select name="estado"class="custom-select d-block w-100" id="state" required>
                                        <option value="">Escolha...</option>
                                        <option>Alagoas</option>
                                        <option>Bahia</option>
                                        <option>Ceará</option>
                                        <option>Maranhão</option>
                                        <option>Paraíba</option>
                                        <option>Pernambuco </option>
                                        <option>Piauí </option>
                                        <option>Rio Grande do Norte</option>
                                        <option>Sergipe</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Insira um estado válido
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="city">Cidade</label>
                                    <input type="text" name="cidade" class="form-control" id="city" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Insira uma cidade válida
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">CEP</label>
                                    <input type="text" name="cep" class="form-control" id="zip" placeholder="60.000-00" required>
                                    <div class="invalid-feedback">
                                        Insira um CEP válido
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="userName">Nome de usuário</label>
                                <input type="text" name="usuario" class="form-control" id="userName" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma nome de usuário válido
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password">Senha</label>
                                <input type="password" name="senha" class="form-control" id="password" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma senha válida
                                </div>
                            </div>
                            
                            
                            <hr class="mb-4"> 
                            <button class="btn btn-secondary btn-lg btn-block" type="submit">Criar conta</button>
                            
                        </form>

                    </div>
                </div>
            </div>
              
        </div>
        <!-- /Cadastro -->