<!-- Texto meus pedidos -->
       <section class="py-5">
            <div class="container">
                <h1 class="font-weight-light alert alert-dark" style="text-align: center;">Meus pedidos</h1>
            </div>
        </section>
        <!-- /Texto meus pedidos -->

        
        <!-- Meus pedidos -->
        <div class="container">
                
            <li class="nav-item active badge">
                <a class="nav-item active" href="/minhaconta" style="color: black;">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                    </svg>
                    Minha conta<span class="sr-only">(current)</span>    
                </a>
            </li>
            <hr class="mb-4">

            <div class="table-responsive ">
                <table class="table table-striped table-sm">
                    
                    <thead>
                        <tr>
                        <th>#Pedido</th>
                        <th>Valor</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>RTX 3090...</td>
                            <td>12/12/2020</td>
                            <td>14:35</td>
                            <td>Finalizado</td>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>

        </div>
        <!-- /Meus pedidos -->