       <!-- Texto Cadastro -->
        <section class="py-5">
            <div class="container">
            </div>
        </section>
        <!-- /Texto Cadastro -->
        

        
        <!-- Cadastro -->
        <div class="container">
            <div class="cadastro-div">
                <div class="row">
                    
    
                    <div class="col-md-8 order-md-1 ">
                        <h4 class="mb-3 alert alert-dark text-cadastro">Trocar senha</h4>

                        <li class="nav-item active badge">
                            <a class="nav-item active" href="/minhaconta" style="color: black;">
                                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                                </svg>
                                Minha conta<span class="sr-only">(current)</span>    
                            </a>
                        </li>
                        <hr class="mb-4">
                        
                        <form class="needs-validation" method="POST" novalidate>
                                                              
                            <div class="mb-3">
                                <label for="usuario">Informe seu nome de usuário <span class="text-muted"></span></label>
                                <input type="text" name="usuario" class="form-control" id="usuario" required>
                                <div class="invalid-feedback">
                                    Insira um nome de usuário válido
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="password">Senha atual</label>
                                <input type="password" name="senha" class="form-control" id="password" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma senha válida
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="new-password-1">Digite a nova senha</label>
                                <input type="password" name="novasenha" class="form-control" id="new-password-1" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma senha válida
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="new-password-2">Digite novamente a nova senha</label>
                                <input type="password" name="novasenhaconfirmacao" class="form-control" id="new-password-2" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma senha válida
                                </div>
                            </div>
                            
                            <hr class="mb-4"> 
                            <button class="btn btn-secondary btn-lg btn-block" type="submit">Alterar senha</button>
                            
                        </form>

                    </div>
                </div>
            </div>
              
        </div>
        <!-- /Cadastro -->