       <!-- Texto fechar pedido -->
       <section class="py-5">
            <div class="container">
                <h1 class="font-weight-light alert alert-dark" style="text-align: center;">Pedido</h1>
                
                <li class="nav-item active badge">
                    <a class="nav-item active" href="/" style="color: black;">
                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-left-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.5 8.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                        </svg>
                        Voltar para loja<span class="sr-only">(current)</span>    
                    </a>
                </li>
                <hr class="mb-4">

            </div>
        </section>
        <!-- /Texto fechar pedido -->

        
        <!-- Fechar pedido -->
        <div class="container">
            <div class="row">
                
                <div class="col-md-4 order-md-2 mb-4">
                  
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Pedido</span>
                    <span class="badge badge-secondary badge-pill">1</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">RTX 3090 Asus</h6>
                            <small class="text-muted">Alguma descrição</small>
                        </div>
                        <span class="text-muted">R$ 13.429,90</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>R$ 13.429,90</strong>
                    </li>
                </ul>
            
                    <form class="form-signin" method="POST">
                        <button type="submit" class="btn btn-secondary">Fechar pedido</button>
                    </form>

                </div>

                <div class="col-md-8 order-md-1">
                  <h4 class="mb-3">Produto</h4>
                  
                  <div class="card mb-3" style="width: 728px; height: 150px; ">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="../../img/rtx3090rogStrix.png" style="width: 195px; padding-left: 50px; "  class="card-img" alt="...">
                      </div>
                      
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">RTX 3090 Asus</h5>
                          <p class="card-text">ROG Strix Geforce, RTX 3090, 24GB GDDR6X, 384bit, ROG-STRIX-RTX3090-O24G-GAMING</p>
                          <p class="card-text"><small class="text-muted">R$ 13.429,90</small></p>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="card w-100">
                    <div class="card-body">
                      <h5 class="card-title">Endereço</h5>
                      <p class="card-text">Rua x, 350, casa 5 - 60000000 - Fortaleza/Ceará</p>
                      <a href="/editarcadastro" class="btn btn-secondary">Editar</a>
                    </div>
                  </div>

                </div>
                
            </div>
        </div>
        <!-- /Fechar pedido -->