       <!-- Texto Cadastro -->
        <section class="py-5">
            <div class="container">
            </div>
        </section>
        <!-- /Texto Cadastro -->
        

        
        <!-- Cadastro -->
        <div class="container">
            <div class="cadastro-div">
                <div class="row">
                    
                    <div class="col-md-8 order-md-1 ">
                        <h4 class="mb-3 alert alert-dark text-cadastro">Complete sua conta pessoal</h4>
                        
                        <form class="needs-validation" method="POST" novalidate>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3 teste">
                                    <label for="firstName">Nome</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                        Insira um nome válido
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Sobrenome</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                    <div class="invalid-feedback">
                                        Insira um sobrenome válido
                                    </div>
                                </div>
                            </div>
                    
                    
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted"></span></label>
                                <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com" required>
                                <div class="invalid-feedback">
                                    Insira um email válido
                                </div>
                            </div>
                    
                            <div class="mb-3">
                                <label for="address">Endereço</label>
                                <input type="text" class="form-control" id="address" placeholder="Rua barão do rio branco, 245, casa 1" required>
                                <div class="invalid-feedback">
                                    Insira um endereço válido
                                </div>
                            </div>
                    
                            <div class="row">
                                
                                <div class="col-md-4 mb-3">
                                    <label for="state">Estado</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Escolha...</option>
                                        <option>Alagoas</option>
                                        <option>Bahia</option>
                                        <option>Ceará</option>
                                        <option>Maranhão</option>
                                        <option>Paraíba</option>
                                        <option>Pernambuco </option>
                                        <option>Piauí </option>
                                        <option>Rio Grande do Norte</option>
                                        <option>Sergipe</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Insira um estado válido
                                    </div>
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="zip">Cidade</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Insira uma cidade válida
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">CEP</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Insira um CEP válido
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="address">Senha</label>
                                <input type="text" class="form-control" id="address" placeholder="" required>
                                <div class="invalid-feedback">
                                    Insira uma senha válida
                                </div>
                            </div>
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input text-secondary" id="same-address">
                                <label class="custom-control-label" for="same-address">Desejo receber notícias e novidades</label>
                            </div>
                            
                            <hr class="mb-4"> 
                            <button class="btn btn-secondary btn-lg btn-block" type="submit">Criar conta</button>
                            
                        </form>

                    </div>
                </div>
            </div>
              
        </div>
        <!-- /Cadastro -->